@keyframes slidein-bottom {
	from {
		margin-top: 100%;
		height: 300%;
		opacity: 0;
	}

	to {
		margin-top: 0;
		height: 100%;
		opacity: 1;
	}
}
@keyframes slidein-left {
	from {
		left: -100%;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}

h1, h2 {
	opacity: 0;
}
.animate-off {
	opacity: 1;
}


h1.animate-slidein, h2.animate-slidein {
	position: relative;
	animation: 1s 1 alternate forwards slidein-left;
}
.slide-up {
	opacity: 0;
}
.slide-up.animate-slidein {
	animation: 1s 1 alternate forwards slidein-bottom;
}
